body {
  min-height: 100%; 
  width:100%; 
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -moz-radial-gradient(circle at center, #a3a3c2, #7575a3) fixed;
  background: -webkit-radial-gradient(circle at center, #a3a3c2, #7575a3) fixed;
  background: -ms-radial-gradient(circle at center, #a3a3c2, #7575a3) fixed;
  background: -o-radial-gradient(circle at center, #a3a3c2, #7575a3) fixed;
  background: radial-gradient(circle at center, #a3a3c2, #7575a3) fixed;
}

.title-app {
  text-align: center;
  width: 100%;
  margin-top: 60px;
  color: #ffffff;
}

h1 {
  font-weight: bold;
}


